@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Chakra Petch', 'Droid Sans Mono', sans-serif;
}
// vars
$turquoise: #11A7A7;
$ochre: #F3A530;

$orange: #ff9d16;
$blue: #275af8;
$red: #dc1a1a;
$green: #26a107;
// overrides
$enable-rounded: false;
$enable-responsive-font-sizes: true;
$hover-color: #c4c4c4;

.btn, .btn-primary {
    border-radius: 0;
    background-color: white;
    color: $turquoise;
    border: 2px solid black;
    display: inline-flex;
    width: 100%;
    justify-content: center;

    &:hover, &:active, &:focus {
        color: white;
        background-color: $turquoise !important;
    }

    &.btn-icon {
        //border: 0;
        width: 8rem;
    }
}
//.btn-primary {
//    border-radius: 0;
//    background-color: white;
//    color: $turquoise;
//    &:active {
//        color: $ochre;
//    }
//
//    // todo hover, focus, etc
//}
a {
    color: $turquoise;
}

.small-number {
    width: 3rem;

    &.red {
        background-color: $red;
    }
    &.green {
        background-color: $green;
    }
    &.orange {
        background-color: $orange;
    }
    &.blue {
        background-color: $blue;
    }
}
// common components
.menu-item {
    font-size: 1.2rem;
}

.fa-solid {
    font-size: 0.8rem;
    margin: 0.2rem;
}

// typography
.font-size-xs {
    font-size: 0.75rem;
}

.text-turquoise {
    color: $turquoise;
}

.hover:hover {
    background-color: $hover-color;
    cursor: pointer;
}